[data-controller="games"]{
  
  .your-score{
    font-family: 'Airborne Pilot';
    font-size: 14px;
  }

  .new-game-container{
    text-align: center;
    width: 450px;
    height: 400px;
    background-color: #a6a6a6;
    position: relative;
    top: -20px;
  }

  .new-game-wrapper{
    margin-top: -96px;
    #new-game-btn{
      margin-top: 15px;
    }
  }

  .inner-game-container{
    position: relative;
    top: -50px;
  }

  .new-game-header{
    position: relative;
    top: 15px;
  }
}

canvas{
  background-color: black;
}

.game-body{
  margin-top: 120px;
  margin-left: 9%;
}

.open-games{
  padding: 6px;
  border: 2px solid #ececec;
  padding-left: 5px;
  position: absolute;
  top: 30px;
  width: 100px;
  z-index: 100;
  li.links {
    &:hover{
      background-color: white;
      a { 
        color: #a6a6a6;
      } 
    }
  }
}