[data-controller="games"]{
  
  .your-score{
    font-family: 'Airborne Pilot';
    font-size: 14px;
  }

  .new-game-container{
    text-align: center;
    width: 450px;
    height: 400px;
    background-color: #a6a6a6;
    position: relative;
    top: -20px;
  }

  .new-game-wrapper{
    margin-top: -96px;
    #new-game-btn{
      margin-top: 15px;
    }
  }

  .inner-game-container{
    position: relative;
    top: -50px;
  }

  .new-game-header{
    position: relative;
    top: 15px;
  }
}
