[data-controller="devise/sessions"]{
  .login-wrapper{
    width: 400px;

    #login-form {
      /* all */
      ::-webkit-input-placeholder { letter-spacing: 2.4px; }
      ::-moz-placeholder { letter-spacing: 2.4px; } /* firefox 19+ */
      :-ms-input-placeholder { letter-spacing: 2.4px; } /* ie */
      input:-moz-placeholder { letter-spacing: 2.4px; }

      #login-btn{
        letter-spacing: 2.4px;
      }

      .remember{
        margin-left: 230px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
