.margin-0-auto{
  margin: 0 auto;
}

.margin-top-50px{
  margin-top: 100px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-neg-50{
  margin-top: -50px;
}

.margin-bot-neg-50{
  margin-bottom: 0px;
}

.text-align-center{
  text-align: center;
}

.margin-top-110px{
  margin-top: 110px;
}

.display-inline{
  display: inline;
}

.img-half-size{
  -moz-transform:scale(0.75);
  -webkit-transform:scale(0.75);
  transform:scale(0.75);
}

.img-circle {
    border-radius: 50%;
}
