.margin-0-auto{
  margin: 0 auto;
}

.margin-top-50px{
  margin-top: 150px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-bot-neg-50{
  margin-bottom: 0px;
}

.margin-top-110px{
  margin-top: 180px;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-align-center{
  text-align: center;
}

.display-inline{
  display: inline;
}

.img-half-size{
  -moz-transform:scale(0.75);
  -webkit-transform:scale(0.75);
  transform:scale(0.75);
}

.img-circle {
  border-radius: 50%;
}

.inconsolata-font{
  font-family: 'Inconsolata', tahoma;
  text-transform: uppercase;
}

.cursor-pointer{
  cursor: pointer;
}

