- if current_user
  .header
    .profile-image.pull-left
      =image_tag(current_user.picture, class: 'img-circle img-half-size')
    .pull-left.margin-left-10{'data-controller': params[:controller]}
      %span.your-score
        Your Score: #{current_user.total_score} Points
    .pull-right.margin-right-10
      =link_to('Home', root_path) + " | "
      =link_to('Sign Out', users_sign_out_path)
    .flashes
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value

  - if @open_games && @open_games.length > 0
    .open-games-header
      current games: 
      - @open_games.each do |game|
        =link_to(game.room_name, game_path(game.id))
